<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @organization.secret %>
</p>

<%= link_to 'Back', organizations_path %>
